.cart-main {
	width: 60%;
	display: inline-flex;
}

.cart-image {
	width: 39%;
	float: right;
	margin-right: 0px;
	display: inline-flex;
}

.cart-image img {
	width:auto;
	/*height:auto;*/
	max-width:100%;
	max-height:100%;
}